.friends-list {
    padding: 10px 20px;
}

.friend-card {
    height: 155px;
    box-shadow: 0 -1px 0 lightblue, 0 0 2px lightblue,
    0 2px 4px lightblue;
    padding: 3px 15px;
    margin: 10px 0;
}

.friend-wrapper {
    height: 100%;
    width: 100%;
}